<div class="page-header">
  <h1 class="text-center">Pro work tree</h1>
</div>

<form class="form-control container" [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
  <div class="form-group container">
    <label>Company Name:</label>
    <input class="form-control" type="text" name="CompanyName" placeholder="Company Name" formControlName="CompanyName"><br>

    <label>Company ID:</label>
    <input class="form-control" type="text" name="CompanyID" placeholder="Company ID" formControlName="CompanyID"><br>

    <label>Contact:</label>
    <input class="form-control" type="text" name="Contact" placeholder="Contact" formControlName="Contact"><br>

    <label>Address</label>
    <textarea class="form-control" rows="5" name="address" placeholder=" Start typing ...." formControlName="address"></textarea>


    <label>Company Email:</label>
    <input class="form-control" type="text" name="CompanyEmail" placeholder="Company Email" formControlName="CompanyEmail"><br>

    <label>Company Catagory:</label>
    <select class="selectpicker" name="CompanyCategory" formControlName="CompanyCategory">
        <option value="lool">lool</option>
        <option value="trool">trool</option>
          <option value="ppool">ppool</option>
    </select><br><br>
    <label class="control-label">Select File</label><br>
    <input type="file" class="file"formControlName="pic" (change)="handleFileUpload($event)"><br>
    <input type="submit" value="submit">
  </div>
</form>